<div class="mb-2">
    <div class="flex justify-between items-center mb-1">
      <div class="flex items-center">
        <img [src]="dataImage" alt="TypeScript Logo" class="w-5 h-5 mr-2">
        <span [ngClass]="colorSpan1" class="text-[12px] font-medium dark:text-white">{{ dataSpan1 }}</span>
      </div>
      <span [ngClass]="colorSpan2" class="text-sm font-medium dark:text-white">{{ dataSpan2 }}</span>
    </div>
    <div class="w-full bg-gray-200 rounded-full h-1.5 dark:bg-gray-700">
      <div [ngClass]="colorBar" class="h-1.5 rounded-full" [style]="dataStyle"></div>
    </div>
</div>
  