<div class="pb-28" id="sectionContact">

  <section class="flex justify-center items-center lg:mx-32 md:pt-30 pt-10 pb-10 mx-5">

    <div class="max-w-screen-xl mx-auto w-full text-center">

      <h3 class="md:text-5xl text-3xl text-center" translate="contact.contact_me">
      </h3>

      <div class="flex flex-col md:flex-row gap-4 md:gap-2 mt-2 bg-white rounded-2xl p-8 mt-2">

        <div class="md:w-1/2 flex-col justify-center">
          <div class="md:pr-12">
            <img src="../../assets/images/contact/contact.gif" class="rounded-3xl" />
          </div>
        </div>

        <div class="md:w-1/2 flex-col text-left">
          <div class="md:pl-12">

            <form class="max-w-sm mx-auto space-y-5">

              <div class="relative z-0 w-full group">
                <input type="email" name="floating_objet" id="floating_objet"
                  class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-500 peer"
                  placeholder=" " required />
                <label for="floating_objet"
                  class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-500 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6" translate="contact.val_object"></label>
              </div>

              <div class="relative z-0 w-full mb-5 group">
                <input type="email" name="floating_email" id="floating_email"
                  class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-500 peer"
                  placeholder=" " required />
                <label for="floating_email"
                  class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-500 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Email</label>
              </div>

              <div class="flex">

                <div class="relative z-0 w-full group">
                  <textarea name="floating_message" id="floating_message" rows="3"
                    class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-500 peer"
                    placeholder=" " required></textarea>
                  <label for="floating_message"
                    class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-500 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Message</label>
                </div>

                <button type="button" class="p-2 text-[#0B3B48] hover:text-blue-300 w-6" (click)="toggleEmojiPicker()">
                  <fa-icon [icon]="['fas', 'smile']" class="mr-2 "></fa-icon>
                </button>

                <button type="button" class="p-2 text-[#0B3B48] hover:text-blue-300 w-6">
                  <fa-icon [icon]="['fas', 'file-arrow-down']" class="mr-2 "></fa-icon>
                </button>

              </div>

              @if (showEmojiPicker) {
                <emoji-picker (emoji-click)="addEmoji($event)" class="absolute"></emoji-picker>
              }

              <button type="submit" class="flex items-center cursor-pointer z-20 bg-[#0B3B48] border border-gray-600 pt-3 pb-3 pr-6 pl-6 rounded-full text-gray-300">
                <fa-icon [icon]="['fas', 'paper-plane']" class="mr-2 "></fa-icon>
                <span translate="contact.send" class="text-sm font-bold"></span>
              </button>
              

            </form>

          </div>
        </div>

      </div>

    </div>

  </section>

</div>