<div class="pb-28" id="sectionAbout">
    
    <section class="flex justify-center items-center lg:mx-32 md:pt-50 pt-10 pb-10 mx-5">
        <div class="min-w-screen-xl mx-auto w-full">
            <h3 class="md:text-5xl text-3xl text-center" translate="about.about_me">
            </h3>
            <div class="space-y-8 relative before:absolute before:inset-0 before:ml-5 before:-translate-x-px md:before:mx-auto md:before:translate-x-0 before:h-full before:w-0.5 before:bg-gradient-to-b before:from-transparent before:via-slate-300 before:to-transparent mt-6">

                    @for (dataAbout of dataAbouts; track dataAbout) {
                        <div class="relative flex items-center justify-between md:justify-normal md:odd:flex-row-reverse group is-active">

                            <div class="flex items-center justify-center w-10 h-10 rounded-full border border-gray-700 text-slate-500 group-[.is-active]:text-emerald-50 shadow shrink-0 md:order-1 md:group-odd:-translate-x-1/2 md:group-even:translate-x-1/2" style="background: radial-gradient(circle at 10% 20%, #25a7cb 15%, #11566e 45%,#28385d 100%);">
                                <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="12" height="10">
                                    <path fill-rule="nonzero" d="M10.422 1.257 4.655 7.025 2.553 4.923A.916.916 0 0 0 1.257 6.22l2.75 2.75a.916.916 0 0 0 1.296 0l6.415-6.416a.916.916 0 0 0-1.296-1.296Z" />
                                </svg>
                            </div>
                            <div class="w-[calc(100%-4rem)] md:w-[calc(50%-2.5rem)] bg-gray-200 p-4 rounded border border-gray-500 shadow-lg">
                                <app-card-about
                                    [order]="dataAbout.order"
                                    [text]="dataAbout.text"
                                >
                                </app-card-about>
                            </div>

                        </div>
                    }

            </div>
        </div>
    </section>

</div>