/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: sans-serif;
    background: #111827;
}

.custom-size {
    width: 260px;
    height: 350px;
}

a {
    color: #2cc9d1;
}

h3 {
    text-transform: uppercase;
}

h3, .cardService, .btnDownload {
    background: radial-gradient(60.25% 73.6% at 14.86% 21.69%, #2cc9d1 60%, #cdb2b2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2 {
    background: radial-gradient(60.25% 73.6% at 14.86% 21.69%, #2cc9d1 60%, #cdb2b2 100%);
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
