<div class="pt-28 pb-28" id="sectionHome">

    <section class="flex justify-center items-center lg:mx-32 md:pt-30 pt-10 pb-10 mx-5">
        <div class="min-w-screen-xl mx-auto w-full">

            <div
                class="flex flex-col-reverse md:flex-row justify-center gap-5 sm:gap-4 md:gap-0 text-center md:text-left md:pl-5">

                <div class="flex flex-col space-y-5 justify-center items-center md:items-start w-full md:w-1/2 mr-3">
                    <h3 class="md:text-5xl text-3xl" translate="home.welcome"></h3>
                    <h4 class="md:text-4xl text-3xl">Yvan Roussel</h4>
                    <p class="text-sm text-justify text-white opacity-75 mx-1" translate="home.introduction">
                    </p>
                    <button class="cursor-pointer z-20 bg-[#0B3B48] border border-gray-600 pt-3 pb-3 pr-6 pl-6 rounded-full">
                       <a href="../../assets/file/CV_Yvan Roussel_TANA NOMENJANAHARY.pdf" download="CV_Yvan Roussel_TANA NOMENJANAHARY.pdf" class="text-sm font-bold text-[#2cc9d1]" translate="home.download_cv"></a>
                    </button>
                </div>
                <div class="w-full md:w-1/2 flex md:justify-end justify-center items-center"> 
                    <img src="../../assets/images/about/DSCF4144-Modifier.jpg" alt="Roussel"
                         class="lg:w-96 lg:h-96 md:w-80 md:h-80 w-72 h-72 border rounded-full border border-gray-500 shadow-lg z-20 object-cover object-center" />
                </div>
                

            </div>
        </div>
    </section>

</div>