<div class="pt-32 pb-32 bg-gray-800" id="sectionHome">

    <section class="flex justify-center items-center lg:mx-32 md:pt-30 pt-10 pb-10 mx-5">
        <div class="min-w-screen-xl mx-auto w-full">

            <div
                class="flex flex-col-reverse md:flex-row justify-center gap-5 sm:gap-4 md:gap-0 text-center md:text-left md:pl-5">

                <div class="flex flex-col space-y-5 justify-center items-center md:items-start w-full md:w-1/2">
                    <!-- texte -->
                    <h2 class="font-bold text-4xl">Hello, my name is</h2>
                    <h4 class="text-sm text-justify text-white opacity-8 mx-1">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                        Magnam iure facere fugit eveniet cum ut, itaque et at ratione explicabo ab doloribus fugiat
                        deserunt
                        nam
                        atque enim! Veritatis, nesciunt in!
                    </h4>
                    <!-- <app-button /> -->
                </div>
<!-- 
                <div class="w-full md:w-1/2 flex md:justify-end justify-center items-center">
                    image
                    http://assets.pokemon.com/assets/cms2/img/pokedex/full/150.png
                    <img src="../../assets/images/about/Roussel2.jpg" alt="Roussel"
                    class="w-96 h-96 border rounded-full shadow-lg bg-gray-200 z-20 object-cover" />
               
                </div> -->
                <div class="w-full md:w-1/2 flex md:justify-end justify-center items-center">
                    <img src="../../assets/images/about/DSCF4144-Modifier.jpg" alt="Roussel"
                         class="lg:w-96 lg:h-96 md:w-80 md:h-80 w-72 h-72 border rounded-full shadow-4xl bg-gray-200 z-20 object-cover object-center" />
                </div>
                
                

            </div>
        </div>
    </section>

</div>