<aside [ngClass]="{'sidebar-visible': isVisible, 'sidebar-hidden': !isVisible}" class="fixed top-0 right-0 w-64 h-screen text-white p-6 z-40 flex flex-col justify-between shadow-2xl transition-transform duration-300 ease-in-out backdrop-blur-sm bg-gradient-radial from-blue-900 via-gray-800 to-gray-900">
  <div class="flex justify-end">
    <button (click)="toggleSidebar()" class="text-gray-500 hover:text-gray-300 bg-white rounded-full p-3 focus:outline-none focus:ring-2 focus:ring-gray-300" aria-label="Close Sidebar">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
  </div>

  <ul class="space-y-6 flex-grow flex flex-col justify-center items-start px-4">
    <li class="w-full">
      <a (click)="handleClick('sectionHome')" class="flex items-center space-x-3 py-3 px-4 text-lg font-semibold text-white rounded-lg bg-[#0B3B48] hover:bg-gray-600 transition-colors duration-200 cursor-pointer shadow-md w-full">
        <fa-icon [icon]="['fas', 'home']" class="h-6 w-6"></fa-icon>
        <span translate="header.home"></span>
      </a>
    </li>
    <li class="w-full">
      <a (click)="handleClick('sectionAbout')" class="flex items-center space-x-3 py-3 px-4 text-lg font-semibold text-white rounded-lg bg-[#0B3B48] hover:bg-gray-600 transition-colors duration-200 cursor-pointer shadow-md w-full">
        <fa-icon [icon]="['fas', 'info-circle']" class="h-6 w-6"></fa-icon>
        <span translate="header.about"></span>
      </a>
    </li>
    <li class="w-full">
      <a (click)="handleClick('sectionService')" class="flex items-center space-x-3 py-3 px-4 text-lg font-semibold text-white rounded-lg bg-[#0B3B48] hover:bg-gray-600 transition-colors duration-200 cursor-pointer shadow-md w-full">
        <fa-icon [icon]="['fas', 'cogs']" class="h-6 w-6"></fa-icon>
        <span translate="header.services"></span>
      </a>
    </li>
    <li class="w-full">
      <a (click)="handleClick('sectionSkill')" class="flex items-center space-x-3 py-3 px-4 text-lg font-semibold text-white rounded-lg bg-[#0B3B48] hover:bg-gray-600 transition-colors duration-200 cursor-pointer shadow-md w-full">
        <fa-icon [icon]="['fas', 'tools']" class="h-6 w-6"></fa-icon>
        <span translate="header.skills"></span>
      </a>
    </li>
    <li class="w-full">
      <a (click)="handleClick('sectionProject')" class="flex items-center space-x-3 py-3 px-4 text-lg font-semibold text-white rounded-lg bg-[#0B3B48] hover:bg-gray-600 transition-colors duration-200 cursor-pointer shadow-md w-full">
        <fa-icon [icon]="['fas', 'project-diagram']" class="h-6 w-6"></fa-icon>
        <span translate="header.projects"></span>
      </a>
    </li>
    <li class="w-full">
      <a (click)="handleClick('sectionContact')" class="flex items-center space-x-3 py-3 px-4 text-lg font-semibold text-white rounded-lg bg-[#0B3B48] hover:bg-gray-600 transition-colors duration-200 cursor-pointer shadow-md w-full">
        <fa-icon [icon]="['fas', 'envelope']" class="h-6 w-6"></fa-icon>
        <span translate="header.contact"></span>
      </a>
    </li>
  </ul>
</aside>

