<div class="relative">
    <img [src]="dataImage" alt="Image project" class="w-full h-auto rounded-lg">
    <div class="absolute inset-0 z-10 flex flex-col items-center justify-center p-4">
        @if (dataHref1 && dataHref1.trim()) {
            <a [href]="dataHref1" target="_blank" class="text-white text-xs bg-[#0B3B48] hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg px-4 py-2 text-center mb-2 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 font-semibold" translate="projects.card.view_code"></a>
        }
        @if (dataHref2 && dataHref2.trim()) {
            <a [href]="dataHref2" target="_blank" class="text-white text-xs bg-[#0B3B48] hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg px-4 py-2 text-center dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 font-semibold" translate="projects.card.demo"></a> 
        }
    </div>
</div>